<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../static/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../static/plugins/iCheck/flat/blue.css">
    <link rel="stylesheet" href="../static/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="../static/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="../static/plugins/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="../static/plugins/fullcalendar/fullcalendar.print.css" media="print">
    <style>
        .fc-scroller {
            min-height: 180px;
        }
        
        .fc-right>h2 {
            font-size: 16px;
        }
        input{width: auto;}

    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="index2.html" class="logo">
                <span class="logo-mini">Nob.</span>
                <span class="logo-lg">Nöbetle</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">{{ name }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="header">MENÜ</li>
                    {% for i in menu|sort() %}
                    <li>
                        <a href="{{ menu[i]["url"] }}">
                            <i class="fa fa-book"></i> <span>{{ menu[i]["text"] }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>Bilgi Girişi</h1>
            </section>
            <section class="content">
                <div class="col-md-3">
                    <div class="box">
                        <div id="calendar" style="font-size: xx-small"></div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="box">
                        <p style="margin: 25px">Nöbet çizelgesini hazırlayacağın dönem için bölümündeki doktorların, izin günü, zorunlu nöbet günleri gibi bilgilerini aşağıdaki tabloya girip, onaylayabilirsin.</p>
                        <form action="/dashboard/yeninobet" method="post">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped dataTable">
                                    <thead>
                                        <tr>
                                            <th>İsim</th>
                                            <th>Soyisim</th>
                                            <!--Crp, id, period, friday_shifts, total_shifts, we_shifts, inf_loc, vacation_days, mustdays, on_days, off_days-->
                                            <th>friday_shifts</th>
                                            <th>total_shifts</th>
                                            <th>we_shifts</th>
                                            <th>inf_loc</th>
                                            <th>vacation_days</th>
                                            <th>mustdays</th>
                                            <th>on_days</th>
                                            <th>off_days</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in DrList %}
                                        <tr>
                                            <td>{{ i.Name }}</td>
                                            <td>{{ i.Surname }}</td>
                                            <td><select name="{{ i.id }}-friday_shifts" id="{{ i.id }}" class="friday_shifts"><option value="1">Evet</option><option value="0">Hayır</option></select></td>
                                            <td><input name="{{ i.id }}-total_shifts" id="{{ i.id }}" class="total_shifts" value="0"></td>
                                            <td><input name="{{ i.id }}-we_shifts" id="{{ i.id }}" class="we_shifts" value="0"></td>
                                            <td>
                                                <input type="checkbox" id="{{ i.id }}" name="{{ i.id }}-inf_loc" value="SR">SR<br>
                                                <input type="checkbox" id="{{ i.id }}" name="{{ i.id }}-inf_loc" value="ICU1">ICU1<br>
                                                <input type="checkbox" id="{{ i.id }}" name="{{ i.id }}-inf_loc" value="ICU2">ICU2<br>
                                            </td>
                                            <td>
                                                <input type="text" name="{{ i.id }}-vacation_days" id="{{ i.id }}" value="" class="vacation_days form-control datepicker">
                                            </td>
                                            <td>
                                                <input type="text" name="{{ i.id }}-mustdays" id="{{ i.id }}" value="" class="mustdays form-control datepicker">
                                            </td>
                                            <td>
                                                <input type="text" name="{{ i.id }}-on_days" id="{{ i.id }}" value="" class="on_days form-control datepicker">
                                            </td>
                                            <td>
                                                <input type="text" name="{{ i.id }}-off_days" id="{{ i.id }}" value="" class="off_days form-control datepicker">
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td colspan="2">TOPLAM</td>
                                            <td><input disabled id="sum_friday_shifts" value="-"></td>
                                            <td><input disabled id="sum_total_shifts" value="0"></td>
                                            <td><input disabled id="sum_we_shifts" value="0"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <center>
                                <br><br>
                                <button type="submit" class="btn btn-primary btn-lg">Onayla</button>
                                <br><br>
                            </center>
                        </form>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </section>
            <section class="content-header">
                <h1>Nöbetle!</h1>
            </section>
            <section class="content">
                <div class="box">
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-warning"></i> Veriler Eksik!</h4>
                        Doktorlarla ilgili gerekli bazı veriler eksik. Nöbetleyemiyorum...<br>"Bilgi Girişi" alanındaki bilgileri güncelleyebilirsiniz.
                    </div>
                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-info"></i> Nöbetle!</h4>
                        Nöbetlemek için her şey hazır.<br>Aşağıdaki Nöbetle butonuna basarak aylık nöbet çizelgenizi oluşturabilirsin.
                    </div>
                    <div class="text-center">
                        <button style="margin: 25px" class="btn btn-primary btn-lg">Nöbetle!</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/app.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="../static/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="../static/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script>
        var total_inputs = document.getElementsByClassName("total_shifts");
        var we_inputs = document.getElementsByClassName("we_shifts");

        function sumIt() {
        var t_sum = Array.prototype.reduce.call(total_inputs, function (a, b) {
            return a + parseFloat(b.value);}, 0);
            document.getElementById("sum_total_shifts").value=t_sum;

        var we_sum = Array.prototype.reduce.call(we_inputs, function (c, d) {
            return c + parseFloat(d.value);}, 0);
            document.getElementById("sum_we_shifts").value=we_sum;
            }

            Array.prototype.forEach.call(total_inputs, function (input) {
                input.addEventListener("keyup", sumIt, false);
            });
        Array.prototype.forEach.call(we_inputs, function (input) {
                input.addEventListener("keyup", sumIt, false);
            });
    </script>
    <script>
        $(function() {
            var today = new Date();
            var year = today.getFullYear();
            var month = today.getMonth();
            var day = today.getDate();
            var time = new Date(year, month + 1, day);
            $('.datepicker').datepicker({
                defaultViewDate: time,
                autoclose: false,
                multidate: true,
                format: "dd",

            });
        });
    </script>
    <script>
        $(function() {
            function ini_events(ele) {
                ele.each(function() {
                    var eventObject = {
                        title: $.trim($(this).text())
                    };
                    $(this).data('eventObject', eventObject);
                });
            }
            $("#calendar").fullCalendar({
                header: {
                    left: 'prev,next',
                    right: 'title'
                }
            });
        });

    </script>
</body>

</html>
